
# ignore these folders
/checkpoint
/data
/input
/output
/temp
/wandb
/venv
/cache

**/.ipynb_checkpoints/
.vscode/
.idea

# ignore these types
*.pyc
*.out
*.log
*.mexa64
*.tar

# ignore files and dirs with temp in the name
*temp



/test_arniqa_output
/datasets
/dataset
data_split

comparison
comparison_realsr

test_output
webserver/static/uploads
webserver/checkpoint
training.pid
output_irontank
webserver_restoration/static/uploads
external
.hypothesis
/thesis-docs/APPUNTI
thesis-docs/paper/paper.aux
thesis-docs/paper/paper.bbl
thesis-docs/paper/paper.blg
thesis-docs/paper/paper.fdb_latexmk
thesis-docs/paper/paper.fls
thesis-docs/paper/paper.synctex.gz
thesis-docs/thesis/figures/cherubinFrontespizio-eps-converted-to.pdf

/comparison
thesis-docs/presentation/slides.fdb_latexmk
thesis-docs/presentation/slides.fls
thesis-docs/presentation/slides.snm
thesis-docs/presentation/slides.synctex.gz
